<<<<<<< HEAD
<table style="width: 100%" class="table-orders">
	<tr>
		<th>Order Id</th>
		<th>Client</th>
		<th>Status Laundry</th>
		<th>Status Payment</th>
		<th>Total $</th>
	</tr>
	<tr>
	<% @orders = Order.all %>
	<% @orders.each do |order| %>
	<td><%= order.id %></td>
	<td><%= order.client.name %></td>
	<td>


<%= form_for :order, url: root_path, :method => :get do |f| %>
	<p class='status-select' data-order-id="<%= order.id%>">
	<%= f.label :Order_by_status %>
	<%= f.select :order_status,
			options_for_select([['All'],['In Box'],
			['Incomming'],['Processing'],
			['Shipping'],['Delivered']]) %></p>
	<% end %><br>

<%= render 'businesses/orders' %>