<table style="width: 100%">
	<tr>
		<th>Order Id</th>
		<th>Client</th>
		<th>Status Laundry</th>
		<th>Status Payment</th>
		<th>Total $</th>
	</tr>
	<% @orders.each do |order| %>
	<tr>
		<td><%= order.id %></td>
		<td><%= order.client.name %></td>
		<td>
		<%= form_for :order, url: order_path(order.id), :method => :put do |f| %>
		<p><%= f.select :order_status,
				options_for_select([[order.status],['In Box'],
				['Incomming'],['Processing'],
				['Shipping']], params[:order_status]) %></p>
			<% if order.status == "Processing" || order.status == "Shipping" || order.status == "Delivered" %>
			<p><%= f.select :assign_shipper_to_order,
					options_for_select(shipper_array(current_admin.business.shippers)) %></p>
					<% end %>
			<p><%= f.submit %></p>
			<p><% end %></p>

			</td>
			<td><%= order.paid %></td>
			<td><%= order.total %></td>
		</tr>
	<% end %>
</table>