<div class="container">
  <div class="row">
    <div class='col'>
      <h2>Create Admin user</h2>
          <%= form_for(:admins) do |f| %>
          <%= f.hidden_field :business_id, value: current_admin.business.id%>
         <div class="form-group">
          <%= f.text_field :name, autofocus: true , class:"form-control", placeholder: "Name"%>
        </div>

        <div class="form-group">
          <%= f.email_field :email, class:"form-control", placeholder: "Email"%>
        </div>

        <div class="form-group">
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder: "Password" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder: "Password Confirmation" %>
        </div>

        <div class="form-group actions">
          <%= f.submit "Create admin", class: "btn btn-success" %>
        </div>
      <% end %><br>
      <br>
    </div>
    <div class="col">
      <%= render "./shippers/registrations/new" %>
    </div>
    <div class="col">
      <%= render "boxes/new"%>
    </div>
    

  </div>
</div>