<h2>All Boxes this business has</h2>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Box Name</th>
      <th>Box Address</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% current_admin.business.boxes.each do |b| %>
    <tr>
      <th scope="row"><%=b.id%></th>
      <td><%=b.name%></td>
      <td><%=b.address%></td>
      <td><%= link_to("edit", box_path(b.id)) %> <%= link_to("delete", box_path(b.id) , method: "delete") %></td>
    </tr> 
  <% end %>

</table>

  </tbody>
</table>

