  <h2>Edit a Box</h2>
    <%= form_for @box, url: box_path(@box.id) do |f| %>
    <%= f.hidden_field :business_id, value: current_admin.business.id %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name%>
  </div>
   <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address%>
  </div>
  <div class="actions">
    <%= f.submit "Save changes" %>
  </div>
<% end %>
