<% if current_client.bag_id %>
  <%=link_to new_order_path do %>
  <div class="row justify-content-center btn-machine">
     <img src="/images/new-machine-logo3.jpg" alt="new order machine" class="new-order-logo">
  </div>
  <% end %>
<% else %>
  <div class="row justify-content-center btn-machine">
    <img src="/images/new-machine-logo3.jpg" alt="new order machine" class="new-order-logo">
  </div>
<% end %>
<hr>
<div>
	<h1>Your Orders</h1><br>
</div>

<% if current_client && current_client.orders %>
	 <% if !current_client.bag_id %>
		<p>Thanks for signing in, we are working on your bag.</p>
	<% else %>
		<p> Bag: <%= current_client.bag_id %></p>
  <% end %>

  <% current_client.orders.where(:history => false).each do |order| %>
  <div class="container">
	<%= render partial: "orders/show", locals: {order: order} if current_client.orders %>
  <br>
  <% if order.status == "Delivered" %>
    <%= form_for :order, url: order_path(order.id), :method => :put do |f| %>
        <%= f.submit "Add order to History" ,class:"btn btn-info" %>
      <% end %>
    <% end %>
  </div>
	<% end %>
<% end %>
