<p>add new order</p>
<!-- <P><%= link_to "add", orders_path, :method => :post %><p> -->

<!-- <button class="set_order">Make Order</button> -->

<%= form_for @order, remote: true do |f| %>
 <%= f.label :CreateOrder %>:
  <%= f.text_field :id %><br />

  <%= f.submit %>
<% end %>