<h3>SET LOCATION OR SCAN QR CODE</h3>

<%= form_for :orders, url: orders_path, :method => :post do |f| %>
<%= f.select :pick_up_address, options_for_select(box_array(current_client.business.boxes)) %>
<%= f.select :box_id,
options_for_select(business.boxes.id) %>
<%= f.submit %>
<% end %>
<!-- <P><%= link_to "add", orders_path, :method => :post %><p> -->
<hr>

	
<button class="cam-activate">Launch Camera</button>


<SECTION class='camie'>
		<h5>AIM AT QR CODE</h5>
        <hr>
        <canvas></canvas>
        <hr>
        <form class="qrcode_form" action="/orders" method="post">
        	<input type="hidden" name="authenticity_token" value="token_value">
	        <input  id="something" type="text" name="box_and_location" value="">
	        <button id="submit_button" type="submit">Create Order</button>
        </form>
</SECTION>        