<h1>Orders to deliver</h1>
<table style="width:70%">
  <tr>
  	<th>Order id</th>
    <th>Box in</th>
    <th>Box out</th>
    <th>Order status</th> 
  </tr>
		<% current_shipper.business.orders.where(status: "Shipping").each do |order| %>
	<tr>
	<td><%= order.id %></td>
	<td><% box = Box.find(order.box_in) %><%= box.address %></td>
	<td>
	<%= form_for :order, url: order_path(order.id), :method => :put do |f| %>
	 <p><%= f.select :delivered_address,
				options_for_select(box_array(current_shipper.business.boxes)), class: "form-group" %></p>
		<p><%= f.submit%></p>
    <% end %>
  </p>
	</td>
	<td><%= order.status %></td>
	</tr>	
	<% end %>
</table>