  <br>
<div class="admin-header">
<div class="admin-menu d-flex justify-content-around mb-3">
  <%if current_client  %>
      <div class="col-xs-12 col-md-3 menu-item d-flex justify-content-center">
       <i class="fa fa-2x fa-pencil-square-o" aria-hidden="true"><%= link_to("Home", "/")%></i>
      </div><br>
      <div class="col-md-3 menu-item d-flex justify-content-center">
       <i class="fa fa-2x fa-pencil-square-o" aria-hidden="true"><%= link_to("History", "/orders/history")%></i>
      </div><br>
      
      <div class="col-md-3 menu-item d-flex justify-content-center">
       <i class="fa fa-2x fa-pencil-square-o" aria-hidden="true"><%= link_to("New Order", new_order_path)%></i>
      </div>

      <div class="col-md-3 menu-item d-flex justify-content-center">
       <i class="fa fa-2x fa-pencil-square-o" aria-hidden="true"><%= link_to("Logout", destroy_client_session_path, method: "delete")%></i>
      </div> <br> 
    
       
  <% elsif !current_admin && !current_client%>
       <div class="col-sm-12 col-md-3 menu-item d-flex justify-content-center">
        <i class="fa fa-sign-in fa-2x" aria-hidden="true"><%= link_to("Login", new_client_session_path,  class:"")%></i>
      </div>
      <div class="col-sm-12 col-md-3 menu-item  d-flex justify-content-center">
      <i class="fa fa-2x fa-user-plus" aria-hidden="true"><%= link_to("Register", new_client_registration_path) %> </i>
      <% end %>
    </div>
        
</div>
     

  </div>
</nav>