<!DOCTYPE html>
<html>

  <head>
    <title>Dbc Laundry</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Roboto" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    
  </head>

  <body>
  <!-- HOME HEADER WITHOUT LOGIN -->
      <% if !current_client && !current_admin && !current_shipper %>
        <div class="nav-mobil">
          this is a header
        </div>
      <% end %>
  <!-- CLIENT NAVBAR -->
      <%= render "layouts/clients_nav.html.erb" if current_client %>
    <!-- </div> -->

      <%= render "layouts/admins_nav.html.erb" if current_admin %>

      <%= render "layouts/shippers_nav.html.erb" if current_shipper %>

    <!-- Devise notice and alert -->
    <div class="row justify-content-center">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <footer class="footer row justify-content-center">
      <div class="row justify-content-center col-xs-12">


      <% if !current_client && !current_admin && !current_shipper %>
        <%= link_to("Admin Login ", new_admin_session_path) %> <br>
      <% end %>

      <%if !current_client && !current_admin && current_shipper %>
        <%= link_to("Shipper Logout ", destroy_shipper_session_path, method: "delete") %> <br>
      <% elsif !current_client && !current_shipper && !current_admin  %>
        <%= link_to("Shipper Login ", new_shipper_session_path) %> <br>
      <% end %>

      </div>
      <br>


      <div class="row justify-content-center col-lg-12">
      <p>DBC Laundry all rights reserved. 2017 / </p><p>
      <a href="https://github.com/matthiashaefeli"><i class="fa fa-github" aria-hidden="true">matthias</i></a>
      <a href="https://github.com/karinafraest"><i class="fa fa-github" aria-hidden="true">karina</i></a>
      <a href="https://github.com/RCAVelez"><i class="fa fa-github" aria-hidden="true">raymond</i></a>
      <a href="https://github.com/litola"> <i class="fa fa-github" aria-hidden="true">Rafael</i></a>
      </p>

      </div>

    </footer>
  </body>
</html>
