<!DOCTYPE html>
<html>
  <head>
    <title>DbcLoundry</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<% if !current_admin %>
 <%= render "layouts/clients_nav.html.erb" %>
<% elsif current_admin%>
  <%=render "layouts/admins_nav.html.erb" %>
<% elsif current_shipper%>
  <%= render "Shipper" %>
<% end %>
    <!-- Devise notice and alert -->
    <div class="row justify-content-center">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
   
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
